<section>
    <% @certificates.each do |certificate| %>
        <div>
          <img src="<%= asset_path(certificate.imgName) %>" />
            <p><%= certificate.name %></p>
        </div>
    <% end %>
</section>
